[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
bandit = "*"
pyflakes = "*"
pylama = "*"
pydocstyle = "*"
pycodestyle = "*"
pep8 = "*"
restructuredtext-lint = "*"
flake8 = "*"
gitpython = "*"

[packages]
doc8 = "*"
sphinx = "*"
pylint = "*"

[requires]
python_version = "3.7"
